<div >
<app-list-url (addUrlEvent)="receiveMessage($event)" (viewUrlEvent)="receiveMessage($event)" *ngIf="this.currentView == 'list'"></app-list-url>
<app-add-url (backUrlEvent)="receiveMessage($event)" *ngIf="this.currentView == 'add'"></app-add-url>
<app-view-url [viewId]="currentViewId" (backUrlEvent)="receiveMessage($event)" *ngIf="this.currentView == 'view'"></app-view-url>
<app-edit-url [viewId]="currentViewId" (backUrlEvent)="receiveMessage($event)" *ngIf="currentView == 'edit'"></app-edit-url>

</div>