<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Checkout</title>
  <meta name="description" content="Wireframe design of a checkout form by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe checkout form">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="./list-url.component.less">
</head>

<body class="bg-light">
  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-7 mx-auto"> <a style="text-decoration: none;" href="" class="fa d-block fa-bullseye fa-5x mb-4 text-info"></a>
          <h2><b >List of URL links</b></h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="">
          <div class="row">
            <div class="col-md-6" style="">
              <h5 class="">&nbsp;</h5>
            </div>
            <div class="col-md-1 offset-md-5" style="">
              <div class="row">
                <div class="col-md-12"><a class="btn btn-primary" (click)="notifySwitchToAddPage()">Add Url</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>View all categories</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button (click)="viewAllCategories = true" ngbDropdownItem>View all categories</button>
                      <button *ngFor="let columnName of columnsName" (click)="onFilterColumnNameClick(columnName); viewAllCategories = false" ngbDropdownItem>{{columnName}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 offset-md-3" style="">
          <div class="row">
            <div class="col-md-12" style="">
              <form class="form-inline" >
                <div class="input-group">
                  <input type="text" class="form-control" [(ngModel)]="searchEntry" name="searchEntry" id="inlineFormInputGroup" placeholder="Search">
                  <div class="input-group-append"><button class="btn btn-primary" (click)="onSearchClicked()" type="button"><i class="fa fa-search"></i></button></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container bg-light border shadow">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
              <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Action</th>
                  <th>PDF</th>
                  <ng-container *ngIf="false === viewAllCategories">
                  <th *ngFor="let columnName of selectedColumnNames">{{columnName}}</th>
                  </ng-container>
                  <ng-container *ngIf="true === viewAllCategories">
                    <th *ngFor="let columnName of columnsName">{{columnName}}</th>
                  </ng-container>
                </tr>
              </thead>
                  <tbody *ngFor="let urlModel of this.listOfUrlRecords; let i = index">
                <tr>
                  <td class="cell-nowrap">{{calculateNewUrlIdForPage(i)}}</td>
                  <td class="cell-nowrap">
                    <div class="btn-group"> <a (click)="notifySwitchToViewPage(calculateNewUrlIdForPage(i))" class="btn btn-primary">View</a> <a (click)="notifySwitchToEditPage(calculateNewUrlIdForPage(i))" class="btn btn-primary">Edit</a> <a (click)="deleteRecord(i)" class="btn btn-primary">Delete</a> </div>
                  </td>
                  <ng-container *ngIf="true == urlModel.pdfStored">
                    <td class="cell-nowrap"><a class="btn btn-primary" href="http://localhost:3000/generated/{{urlModel._id}}.pdf">PDF</a></td>
                  </ng-container>
                  <ng-container *ngIf="false == urlModel.pdfStored">
                    <td class="cell-nowrap"></td>
                  </ng-container>

                <ng-container *ngIf="false === viewAllCategories">
                  <td *ngFor="let columnName of selectedColumnNames">{{getUrlModelField(urlModel, columnName)}}</td>
                </ng-container>
                <ng-container  *ngIf="true === viewAllCategories">
                  <td *ngFor="let columnName of columnsName">{{getUrlModelField(urlModel, columnName)}}</td>
                </ng-container>
                </tr>
                  </tbody>
              </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
              <ul class="pagination">
                <li class="page-item"> <a class="page-link" (click)="prevPage()">Prev</a> </li>
                <li class="page-item" *ngFor="let pageNumber of _.range(1,NUMBER_OF_PAGES/maxNumberOfRecords + 1)" [ngClass]="currentPageDisplayed === pageNumber? 'active' : ''"> <a class="page-link" (click)="pageClicked(pageNumber)">{{pageNumber}}</a> </li>
                <li class="page-item"> <a class="page-link" (click)="nextPage()">Next</a> </li>
              </ul>
              <div>
                <input type="text" size="3" [(ngModel)]="maxNumberOfRecords" name="maxNumberOfRecords" class="form-control">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-muted text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 my-4">
          <p class="mb-1">© 2017-2018 Company Name</p>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#">Privacy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Support</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>

</html>